<%= form_for(path) do |f| %>
  <% if path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(path.errors.count, "error") %> prohibited this path from being saved:</h2>

      <ul>
      <% path.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, order: [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= f.label :fiscal_horsepower %>
    <%= f.number_field :horsepower, min:0, class:'hp' %>
  </div>

  <div class="field">
    <%= f.label :distance %>
    <%= f.number_field :distance, min:0, class:'distance' %>
  </div>

  <div class="field">
    <%= f.label :total %>
    <%= f.text_field :total , class:'total', disabled:true%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
