<p id="notice"><%= notice %></p>

<h2>Tasks delay depassed undone</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Status</th>
      <th>Author</th>
      <th>Date due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @Imperative.each do |task| %>
    <%= render 'tasks/task', task: task %>
    <% end %>
  </tbody>
</table>

<h2>Tasks in progress</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Status</th>
      <th>Author</th>
      <th>Date due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @Current.each do |task| %>
    <%= render 'tasks/task', task: task %>
    <% end %>
  </tbody>
</table>

<h2>Tasks done</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Status</th>
      <th>Author</th>
      <th>Date due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @Done.each do |task| %>
    <%= render 'tasks/task', task: task %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
