<%= render 'tasks', title: 'Imperative', tasks: @Imperative %>
<%= render 'tasks', title: 'Current', tasks: @Current %>
<%= render 'tasks', title: 'Done', tasks: @Done %>

<%= content_for :sidebar do %>
  <li>
    <%=content_tag 'span', 'Imperative tasks'.upcase, class: 'text-warning'%> :
    <%=content_tag 'span',  @Imperative.count, class: 'badge'%>
  </li>
  <li>
    <%=content_tag 'span', 'Current tasks'.upcase, class: 'text-success'%>  :
    <%=content_tag 'span',   @Current.count, class: 'badge'%>
  </li>
<%end%>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>
